<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solomon Seed</title>
    <base href="/">
    <link rel="stylesheet" href="<%- config.cdn %><%= map.get('/css/bootstrap.css')%>" />
    <link rel="stylesheet" href="<%- config.cdn %><%= map.get('/css/app.css')%>" />
    <meta name="fragment" content="!" />
    <script>
      var globals = {
        staticConfig: {
          mapping: <%- JSON.stringify(map) %>,
          cdn: '<%- config.cdn %>'
        }
        <% if (user) { %>
        , user: {
          id: '<%-user.id%>',
          login: '<%-user.login%>'
        }
        <%}%>
      }
    </script>
  </head>
  <body>
    <script src="<%- config.cdn %><%= map.get('/js/ui.js')%>" type="text/javascript"></script>
    <script src="<%- config.cdn %><%= map.get('/js/react.js')%>" type="text/javascript"></script>
    <script src="<%- config.cdn %><%= map.get('/js/app.js')%>" type="text/javascript"></script>
  </body>
</html>
